
<section class="wide-content-margin">
  
  <div><input type="text"/> <div class="create-button" routerLink="/admin/pages/create-user">Create</div></div>
  
  <table class="admin-table-list">
    <tr class="table-header">
      <td>id</td>
      <td>name</td>
      <td>email address</td>
      <td>privilege</td>
      <td></td>
      <td></td>
    </tr>
    <tr *ngFor="let user of users" class="table-content">
      <td>{{user._id}}</td>
      <td>{{user.firstName}} {{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
      <td class="edit-button table-button">edit</td>
      <td class="delete-button table-button" (click)="this.adminService.delete($event, 'pages')">delete</td>
    </tr>
  </table>
</section>
