#notification-message {
    display: none;
    position: absolute;
    top: 10%; right: 50%;
    transform: translate(50%, 0);
    line-height: 60px; min-width: 300px; width: fit-content;
    background: rgb(0, 178, 190, .8);
    border-radius: 10px;
    text-align: center;
    z-index: 10;
}