<h1>Services</h1>

<h2 (click)="openServices($event)">Marketing <img class="services-arrow" src="../../../assets/img/outline-keyboard_arrow_down-white-48/1x/outline_keyboard_arrow_down_white_48dp.png"/></h2>
    <section class="services-information">
            <section class="packages"> 
                <h4>Starter Package</h4>
                <p>
                    This package is an entry level package, It is intended for companies willing to increase their marketing prowess. While 
                    mitigating all risk involved with new marketing strategies.
                </p>
                <h4>$997</h4>
                <input type="button" value="Contact" (click)="bottom()">
            </section>
        
            <section class="packages"> 
                <h4>Professional Package</h4>
                <p></p>
                <h4>$2,447</h4>
                <input type="button" value="Contact" (click)="bottom()">
            </section>
        
            <section class="packages"> 
                <h4>Platinium Package</h4>
                <p></p>
                <h4>$4,997</h4>
                <input type="button" value="Contact" (click)="bottom()">
            </section>
        
            <section class="packages"> 
                <h4>Enterprise Package</h4>
                <p>This is an enterprise level package, If you are a company ready to take out the competition this is the package for you. This plan is not suited for
                    for small businesses incapable or unwilling to grow quickly from high demand.
                </p>
                <h4>$10,000 +</h4>
                <input type="button" value="Contact" (click)="bottom()">
            </section>
        </section>
<h2 (click)="openServices($event)">Web Developement <img class="services-arrow" src="../../../assets/img/outline-keyboard_arrow_down-white-48/1x/outline_keyboard_arrow_down_white_48dp.png"/></h2>
    <section class="services-information"> </section>
<h2 (click)="openServices($event)">IT Security <img class="services-arrow" src="../../../assets/img/outline-keyboard_arrow_down-white-48/1x/outline_keyboard_arrow_down_white_48dp.png"/></h2>
    <section class="services-information"></section>