
<section class="wide-content-margin">

  <div><input type="text"/> <div class="create-button" routerLink="/admin/pages/create-page">Create</div></div>
  
  <table class="admin-table-list">
    <tr class="table-header">
      <td>id</td>
      <td>title</td>
      <td>type</td>
      <td></td>
      <td></td>
    </tr>
    <tr *ngFor="let page of pages"  class="table-content">
      <td name="pageId">{{page._id}}</td>
      <td>{{page.title}}</td>
      <td>{{page.type}}</td>
      <td class="edit-button table-button">edit</td>
      <td class="delete-button table-button" (click)="this.adminService.delete($event, 'pages')">delete</td>
    </tr>
  </table>
</section>