<section id="grid-layout">
  <section id="top-bar">
    <div id="site-logo"><img class="site-logo" src='../../../assets/img/malikiah_white_flat_logo.png'></div>
    <img id="triple-stack-menu" src='../../../../assets/img/round-menu-black-36/1x/round_menu_black_36dp.png' (click)="sideBar()"/>
  </section>
  <section id="side-bar">
    <ul>
      <li routerLink="/admin/users">
        <h4>Users</h4>
      </li>
      <li routerLink="/admin/pages">
        <h4>Pages</h4>
      </li>
      <li (click)="this.appComponent.logout()">
      <h4>Logout</h4>
      </li>
    </ul>
  </section>
  <section id="content-container">
    <!--app-loading *ngIf="isLoading; else router"></app-loading-->

    <router-outlet></router-outlet>

  </section>
</section>