<h1>Technology Stack</h1>
<ul>
  <li>
      <h2>Mongodb</h2>
      <p>
        A NoSQL databasing program, that is an open-source, cross-platform, document-oriented database.
      </p>
  </li>
  <li>
      <h2>Express</h2>
      <p> 
          A minimalistic and flexible framework, providing a thin layer of fundamental web application features for Nodejs.

      </p>
  </li>
  <li>
      <h2>Angular</h2>
      <p>
          An open-source Javascript web application framework based on type-script and designed by Google.
        </p>
  </li>
  <li>
      <h2>Nodejs</h2>
      <p>
          An open-source cross-platform Javascript runtime environment built on Chrome's V8 Javascript engine, that allows the execution of Javascript on the server.
      </p>
  </li>
  <li>
        <h2>Nginx</h2>
        <p>
            An open-source versatile web server, capable of reverse-proxing, high performance load balancing, mail proxing & HTTP caching.
        </p>
    </li>
  <li>
      <h2>Ubuntu</h2>
      <p>
          A free open-source GNU/Linux operating system based on Debian, created by Canonical.
      </p>
  </li>
</ul>