<h1>Our Team</h1>
<h6>Owning and running a business is more than just income, 
  It’s about creating an ever lasting impression upon your customers through trust 
  and quality service.</h6>

<section id="team">
  
    <div class="team-member">
      <img class="team-member-photo" src='../../../assets/img/Damian_McCarthy_Cropped.jpeg'/>
      <div class="team-member-description">
        <h3>Damian McCarthy</h3>
        <p>FullStack Developer / Linux Administrator</p>

        <ul class="team-member-certs">
          <h4>Certifications</h4>
          <li>
            <p>Certified Linux Administrator (LPIC-1)</p>
          </li>
          <li>
            <p>CompTIA Linux +</p>
          </li>
          <li>
            <p>ITIL® Foundation</p>
          </li>
        </ul>
        <p class="team-member-summary">
            Security & privacy advocate, developer, and marketing professional.
        </p>
      </div>
    </div>

</section>