
   


<section id="content-container">
    
  <section id="banner">
      <div class="site-logo home-logo">Malikiah<!--img class="site-logo" src='../../../assets/img/malikiah_white_flat_logo.png'--></div>
      <ul id="navigation-menu">
        <li (click)="moveTo($event)">Services</li>
        <li (click)="moveTo($event)">About</li>
        <li (click)="moveTo($event)">Contact</li>
      </ul>
      <img id="triple-stack-menu" src='../../../../assets/img/round-menu-black-36/1x/round_menu_black_36dp.png'/>
      <img id="banner-image" src='../../../assets/img/nebula_galaxy_wallpaper_014.jpg'/>
      <img id="banner-arrow" (click)="moveTo($event)" src="../../../assets/img/outline-keyboard_arrow_down-white-48/1x/outline_keyboard_arrow_down_white_48dp.png"/>
      
      <!--h1>MARKETING. ENGINEERING. DESIGN.</h1-->

  </section>

  <app-stack id="stack-section" class="wide-content-margin"></app-stack>

  <app-services id="services-section" class="content-margin"></app-services>

  <app-portfolio id="portfolio-section" class="wide-content-margin"></app-portfolio>

  <app-about id="about-section" class="wide-content-margin"></app-about>

  <app-contact id="contact-section" class="content-margin"></app-contact>
</section>


<section id="footer">

  <ul id="footer-social">
      <li href="">
          <img src="../../../assets/Icons/iconmonstr-facebook-3.svg"/>
      </li>
      <a href="https://www.instagram.com/nymadic/"><li>
          <img src="../../../assets/Icons/iconmonstr-instagram-11.svg"/>
      </li></a>
      <a href="https://github.com/malikiah"><li>
          <img src="../../../assets/Icons/iconmonstr-github-3.svg"/>
      </li></a>
      <a  href="https://www.linkedin.com/in/damian-mccarthy-362b72131/"><li>
          <img src="../../../assets/Icons/iconmonstr-linkedin-3.svg"/>
      </li></a>
  </ul>

  <div id="footer-copyright">© 2019 malikiah.io </div>

</section>